
<section class="login-form modal-shadow">
    <div class="inner">
        <div class="modal-header">
            <div class="text-center">
                <h3 class="modal-title">Default text for init</h3>
            </div>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <strong>Default text </strong>
                <h4>Text default </h4>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button">Confirm</button>
            <button class="btn btn-warning" type="button">Cancel</button>
        </div>
    </div>
</section><!-- Sighup Form -->
