<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Child</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <label for="name">First Name</label>
        <input name="name" class="form-control" required="" placeholder="First name" ng-model="ChildModel.FirstName" type="text" />
        <label for="surname">Last Name</label>
        <input name="surname" class="form-control" required="" placeholder="Last name" ng-model="ChildModel.LastName" type="text" />
        <label for="midname">Middle Name</label>
        <input name="midname" class="form-control" required="" placeholder="Middle Name" ng-model="ChildModel.MiddleName" type="text" />
        <label for="number">Age</label>
        <input name="number" class="form-control" required="" placeholder="Number" ng-model="ChildModel.Age" type="number" />
        <label form="garten">Type Kindergarten Address</label>
        <input type="text" ng-model="asyncSelected"  placeholder="Type Kindergaten Address" ng-model-options="{ debounce: 1000 }" typeahead-min-length="4" uib-typeahead="item as item.Address for item in SearchGarten($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class=""></i> No Results Found
        </div>

    </form>
</div>
<div class="alert alert-warning animated fadeInDown" ng-show="modalError">
    <strong>Warning </strong> Name abbreviation and age is required!
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="CreateChild()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>